/* Write your code here. */
.nav-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #9796f0;
  padding: 10px;
}
.logo-heading {
  color: white;
  font-size: 20px;
  font-family: 'Roboto';
}
.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.score-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.score-heading {
  color: white;
  font-size: 18px;
  font-family: 'Roboto';
  margin-right: 30px;
}
.topScore-heading {
  color: white;
  font-size: 18px;
  font-family: 'Roboto';
}
